.DS_Store
/.build
/Packages
# /*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

test/build/*

tests/runTests

Parallel-lang/old/*
Parallel-lang/parallel/build/*
Parallel-lang/parallel/Parallel-lang-old